.homeTitle {
  font-weight: bold;
  font-size: 2.375rem;
  color: #0d1931;
  margin-bottom: 0.813rem;
}

.homeCard {
  border-radius: 0.313rem;
  box-shadow: 0rem 0.063rem 0.25rem #00000029;
}

.homeCardContent {
  padding: 1.5rem 1.813rem;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeAuthor {
  color: #0d1931;
  font-weight: bold;
  font-size: 2rem;
}

.welcomeDate {
  margin-bottom: 4.268rem;
  font-weight: 600;
  font-size: 1.125rem;
}

.welcomeImg {
  width: 33.893rem;
  height: 28.188rem;
  margin-bottom: 0.995rem;
}

.welcomeMessageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeMessage {
  display: flex;
  justify-content: center;
  width: 38.063rem;
  border: 1px solid #272846;
  padding-top: 1.313rem;
  padding-bottom: 1.313rem;
  font-weight: bold;
  border-radius: 0.563rem;
  box-shadow: 0rem 0.188rem 0.375rem #00000029;
  margin-bottom: 7.688rem;
}
