.navbar {
  height: 5.25rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 3.906rem;
  box-shadow: 10px 1px 5px red !important;
}

.right {
  display: flex;
  align-items: end;
}

.avatar {
  width: 48px !important;
  height: 48px !important;
  background-color: #0d1931 !important;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.2rem;
}

.avatarSmall {
  width: 40px !important;
  height: 40px !important;
  background-color: #0d1931 !important;
  margin-right: 0.75rem;
  padding: 0.3rem;
}

.menuHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
  min-width: 16.25rem;
}

.userName {
  font-size: 1rem;
  font-weight: bold;
  color: #0290a4;
}

.userEmail {
  font-size: 0.875rem;
  color: #0b2b25;
}

.avatarWrapper {
  position: relative;
  padding: 0 !important;
}

.arrowIndicator {
  position: absolute;
  bottom: -0.125rem;
  right: -0.125rem;
  width: 1.063rem;
  height: 1.063rem;
  background: white;
  border-radius: 50%;
  font-size: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #697d79;
  box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 1rem !important;
}

.logout {
  gap: 0.375rem;
}

.menu {
  box-shadow: 0px 3px 6px #00000029;
}
