.layoutMainSection {
  display: flex;
  height: 100vh;
}

.layoutContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layoutMainContent {
  flex: 1;
  padding: 1.313rem 2.875rem 1.063rem 2.875rem;
  background-color: #f3f3f3;
  overflow: auto;
}
